## Q1 Create a Python program to accept product details from user and insert into Product table of MySQL. Assume suitable table structure.

In [1]:
import mysql.connector

In [2]:
myconn=mysql.connector.connect(host="localhost",user="root",passwd="ronit108",database="mydb")
print(myconn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023185F81D00>

In [3]:
cur = myconn.cursor()

In [4]:
cur.execute("create table Product(pid int(10)not null primary key,pname varchar(20) not null, ptype varchar(20) not null, price int(20) not null, myear int(20) not null)")

In [5]:
for i in range(5):
    pid = int(input('Enter product ID: '))
    pname = input("Enter name: ")
    ptype = input("Enter Type: ")
    price  =int(input("Enter Price: "))
    myear = int(input("Enter manufacturing year: "))
    rec = (pid, pname, ptype, price, myear)
    cur.execute("Insert into Product (pid, pname, ptype, price, myear) values (%s, %s, %s, %s, %s)", rec)
    myconn.commit()

Enter product ID: 101
Enter name: Redmi
Enter Type: Mobile
Enter Price: 20000
Enter manufacturing year: 2024
Enter product ID: 102
Enter name: Laptop
Enter Type: Lenovo
Enter Price: 88000
Enter manufacturing year: 2022
Enter product ID: 103
Enter name: Reynolds
Enter Type: Pen
Enter Price: 10
Enter manufacturing year: 2024
Enter product ID: 104
Enter name: LG
Enter Type: Computer
Enter Price: 40000
Enter manufacturing year: 2021
Enter product ID: 105
Enter name: Fireboltt
Enter Type: Watch
Enter Price: 2000
Enter manufacturing year: 2021

In [6]:
cur=myconn.cursor()

cur.execute("select * from Product")

#fetching the rows from the cursor object
result = cur.fetchall()

#printing the result
for x in result:
    print(x)

(101, 'Redmi', 'Mobile', 20000, 2024)
(102, 'Laptop', 'Lenovo', 88000, 2022)
(103, 'Reynolds', 'Pen', 10, 2024)
(104, 'LG', 'Computer', 40000, 2021)
(105, 'Fireboltt', 'Watch', 2000, 2021)

## Q2 create a Python program to retrieve student details those are placed in tcs company. Assume suitable table structure.

In [7]:
import mysql.connector

In [8]:
myconn=mysql.connector.connect(host="localhost",user="root",passwd="ronit108",database="mydb")
print(myconn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023185FA4280>

In [12]:
cur = myconn.cursor()

In [13]:
cur.execute("create table Student(PRN int(10)not null primary key,Name varchar(20) not null, Company_name varchar(20) not null, Package int(20) not null)")

In [14]:
for i in range():
    PRN = int(input('Enter your Roll No: '))
    Name = input("Enter your name: ")
    Company_name = input("Enter your company name: ")
    Package  = int(input("Enter your package: "))
    rec = (PRN, Name, Company_name, Package)
    cur.execute("Insert into Student(PRN, Name, Company_name, Package) values (%s, %s, %s, %s)", rec)
    myconn.commit()

Enter your Roll No: 1
Enter your name: Ronit
Enter your company name: Tata
Enter your package: 1500000
Enter your Roll No: 2
Enter your name: Anika
Enter your company name: TCS
Enter your package: 1800000
Enter your Roll No: 3
Enter your name: Saqeeb
Enter your company name: Mahindra
Enter your package: 1550000

In [15]:
cur=myconn.cursor()

cur.execute("select * from Student where Company_name='TCS' ")

#fetching the rows from the cursor object
result = cur.fetchall()

#printing the result
for x in result:
    print(x)

(2, 'Anika', 'TCS', 1800000)

## Q3 Create python program to display area wise product sales details for electronic products in a year. Assume suitable table structure

In [1]:
import mysql.connector

In [2]:
myconn=mysql.connector.connect(host="localhost",user="root",passwd="ronit108",database="mydb")
print(myconn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000027A83010D60>

In [3]:
cur = myconn.cursor()

In [4]:
cur.execute("create table Prod(pid int(10) not null primary key,pname varchar(20) not null,area varchar(10),sales int(10) not null,year int(10) not null)")

In [5]:
for i in range(3):
    pid= int(input("Enter Product ID:"))
    pname= input("Enter Name:")
    area=input("Enter Area:")
    sales=int(input("Enter Sales:"))
    year= int(input("Enter Year:"))
    rec= (pid,pname,area,sales,year)
    cur.execute("insert into Prod(pid,pname,area,sales,year)values(%s,%s,%s,%s,%s)",rec)
    myconn.commit()

Enter Product ID:1
Enter Name:Pen
Enter Area:Pune
Enter Sales:20000
Enter Year:2024
Enter Product ID:2
Enter Name:Eraser
Enter Area:PCMC
Enter Sales:320001
Enter Year:2024
Enter Product ID:3
Enter Name:Notebooks
Enter Area:Pune
Enter Sales:40000
Enter Year:2024

In [6]:
dbs=cur.execute("select * from Prod")
result=cur.fetchall()

for i in result:
    print(i)

(1, 'Pen', 'Pune', 20000, 2024)
(2, 'Eraser', 'PCMC', 320001, 2024)
(3, 'Notebooks', 'Pune', 40000, 2024)

In [7]:
cur.execute("select area,pname,SUM(sales) as total_sales from Prod GROUP BY area,pname ")
result=cur.fetchall()

for row in result:
    print(f"Area : {row[0]} \n Product : {row[1]}\n Toatl_Sales : {row[2]}")

Area : Pune
 Product : Pen
 Toatl_Sales : 20000
Area : PCMC
 Product : Eraser
 Toatl_Sales : 320001
Area : Pune
 Product : Notebooks
 Toatl_Sales : 40000

## Q4 Create a Python program to increase the salary of employee by 10% those who have working experience more than 20 years. Assume suitable table structure.