## Q1 Create a Python program to create table Employee and Department as follows: 
## Employee: E_ID, name, age, salary, DID.
## Department: DID Dname.
## Add sufficient records in both. Display the records of those employees who are working in sales department and age is between 30 and 40.

In [1]:
import mysql.connector

In [2]:
myconn=mysql.connector.connect(host="localhost",user="root",passwd="ronit108",database="mydb")
print(myconn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021DB4FDFE80>

In [3]:
cur = myconn.cursor()

In [8]:
dbs=cur.execute("create table Dept(did int(10) not null primary key,dname varchar(20) not null)")

In [9]:
for i in range(3):
    did= int(input("Enter Dept ID:"))
    dname= input("Enter Dept Name:")
    rec= (did,dname)
    cur.execute("insert into Dept(did,dname)values(%s,%s)",rec)
    myconn.commit()

Enter Dept ID:1
Enter Dept Name:abc
Enter Dept ID:2
Enter Dept Name:def
Enter Dept ID:3
Enter Dept Name:ghi

In [10]:
dbs=cur.execute("select * from Dept")
result=cur.fetchall()

for i in result:
    print(i)

(1, 'abc')
(2, 'def')
(3, 'ghi')

In [14]:
dbs=cur.execute("create table Emp(eid int(10) not null primary key,ename varchar(20) not null,age int(10),salary int(10) not null,did int(10) not null, foreign key(did) references dept(did))")

In [15]:
for i in range(3):
    eid= int(input("Enter Employee ID:"))
    ename= input("Enter Employee Name:")
    age=int(input("Enter Age:"))
    salary=int(input("Enter Salary:"))
    did= int(input("Enter Dept Id:"))
    rec= (eid,ename,age,salary,did)
    cur.execute("insert into Emp(eid,ename,age,salary,did)values(%s,%s,%s,%s,%s)",rec)
    myconn.commit()

Enter Employee ID:1
Enter Employee Name:Ronit
Enter Age:21
Enter Salary:70000
Enter Dept Id:1
Enter Employee ID:2
Enter Employee Name:Anuj
Enter Age:20
Enter Salary:65000
Enter Dept Id:2
Enter Employee ID:3
Enter Employee Name:Aditya
Enter Age:22
Enter Salary:72000
Enter Dept Id:3

In [16]:
dbs=cur.execute("select * from Emp")
result=cur.fetchall()

for i in result:
    print(i)

(1, 'Ronit', 21, 70000, 1)
(2, 'Anuj', 20, 65000, 2)
(3, 'Aditya', 22, 72000, 3)

In [17]:
dbs=cur.execute("select ename,age,salary,dname from Emp,Dept where emp.did=dept.did and dept.dname='abc' and emp.age between 20 and 22")
result=cur.fetchall()
for i in result:
    print(i)

('Ronit', 21, 70000, 'abc')

## Q2 Create a Python program to accept and add Student education details in MySQl database table and display records of those students who have secured first class in graduation. Assume suitable table structure.

In [18]:
import mysql.connector

In [19]:
myconn=mysql.connector.connect(host="localhost",user="root",passwd="ronit108",database="mydb")
print(myconn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021DB4FEBFD0>

In [25]:
dbs=cur.execute("create table Stud(sid int(10) not null primary key,sname varchar(20) not null,qual varchar(10), cls varchar(10) not null)")

In [26]:
for i in range(3):
    sid= int(input("Enter Student ID:"))
    sname= input("Enter Student Name:")
    qual=input("Enter if Graduate:")
    cls=input("Enter Class:")
    rec= (sid,sname,qual,cls)
    cur.execute("insert into Stud(sid,sname,qual,cls)values(%s,%s,%s,%s)",rec)
    myconn.commit()

Enter Student ID:1
Enter Student Name:Ronit
Enter if Graduate:Graduate
Enter Class:First
Enter Student ID:2
Enter Student Name:Aryan
Enter if Graduate:Graduate
Enter Class:Second
Enter Student ID:3
Enter Student Name:Anika
Enter if Graduate:Graduate
Enter Class:First

In [27]:
dbs=cur.execute("select * from Stud")
result=cur.fetchall()
for i in result:
    print(i)

(1, 'Ronit', 'Graduate', 'First')
(2, 'Aryan', 'Graduate', 'Second')
(3, 'Anika', 'Graduate ', 'First')

In [28]:
dbs=cur.execute("select * from stud where qual='graduate' and cls='first' ")
result=cur.fetchall()

for i in result:
    print(i)

(1, 'Ronit', 'Graduate', 'First')